<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>学生奖罚管理系统</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container alert-info">
			<div class="row">
				<div class="col-lg-12">
					<h3>学生奖罚管理系统 | 欢迎您，<span th:text="${session.USERS.uname}" class="alert-danger">111</span> | <a href="">注销</a></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="list-group">
					   <a th:href="@{/c/stu/stuList(p=1,s=3,stuCode=0)}" class="list-group-item">学生列表</a>
					  <a th:href="@{/c/stu/reList?p=1&s=3&stuCode=0&name=null&sname=null}" class="list-group-item">奖惩管理</a>
					  <a href="#" class="list-group-item">退出系统</a>
					</div>
				</div>
				<div class="col-lg-10">
					<h3 class="text-center">奖罚管理</h3>
					<form method="post" th:action="@{/c/stu/reList2(p=1,s=3)}"  class="navbar-form navbar-left" role="search">
					  <div class="form-group">
						<input type="text" class="form-control" name="name"  placeholder="奖惩">
						<input type="text" class="form-control" name="sname" placeholder="学生姓名">
					  </div>
					  <button type="submit" class="btn btn-danger">Select</button>
					 	<a class="btn btn-danger" href="/view/add">add</a>
					</form>
					<table class="table table-hover table-bordered text-center" >
						<thead>
							<tr >
								<td>序号</td>
								<td>奖惩</td>
								<td>学生姓名</td>
								<td>创建人</td>
								<td>描述</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody>
							<tr class="danger" th:each="it,iter : ${PAGE_INFO.list}">
								<td th:text="${iter.count}"></td>
								<td th:text="${it.name}"></td>
								<td th:text="${it.sname}"></td>
								<td th:text="${it.createBy}"></td>
								<td th:text="${it.des}"></td>
								<td>
									<a th:href="@{/view/up(id=${it.id})}">修改</a>|
									<a th:href="@{/c/stu/redel(rid=${it.id})}">删除</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="9">当前是第<span th:text="${PAGE_INFO.pageNum}"></span>页，共<span  th:text="${PAGE_INFO.pages}"></span>页,
									<a th:href="@{/c/stu/reList(p=${PAGE_INFO.prePage},s=${PAGE_INFO.pageSize})}">上一页</a>|
									<a th:href="@{/c/stu/reList(p=${PAGE_INFO.nextPage},s=${PAGE_INFO.pageSize})}">下一页</a>
								</td>
							</tr>
						</tfoot>
					</table>		
				</div>
			</div>
			
		</div>
	</body>
<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script>
	
</script>
</html>
